body{
  font-family: "Arial", sans-serif;
  font-size:16px;
}
.box-demo h2{
  color:#666666;
}
.box-demo h3{
  color:darkBlue;
}
.box-demo p{
  padding:10px;
}
hr {
  margin: 20px auto;
}
.box, .bg{
  vertical-align: top;
}
/*
* You can apply the styles to more than one class
* These styles apply to the css-demo.html file
/* ====================================================== */
.demo-block, .demo-inline-block, .demo-inline, .demo-inline-as-block{
  background: #efefef;
  height: 45px;
}
.demo-block span{
  color: blue;
  font-weight: bold;
}
.demo-inline-block{
  display: inline-block;
}
.demo-inline{
  display: inline;
}
.demo-inline-as-block span{
  display: block;
}
/*
* These styles apply to the css-background.html page
/* ====================================================== */
/* This .bg class applies to all divs in this page */
.bg{
  display: inline-block;
  height: 300px;
  margin:15px 20px;
  padding: 20px;
  text-align: center;
  width:300px;
}
.bg.color{
  background: #6de2ff;
}
.img-repeat{
  background-color:  #fffdd6 ;
  background-image: url("../images/dot.png");
}
.img-repeat.single{
  background-repeat: no-repeat;
  background-position: center;
}
.img-repeat.x{
  background-repeat: repeat-x;
  background-position: bottom;
}
.img-repeat.y{
  background-repeat: repeat-y;
  background-position: right;
}
.bg.img{
  background-image: url("../images/pizza-vert.png");
}
.img.contain{
  background-size: contain;
  background-repeat: no-repeat;
}
.img.cover{
  background-size: cover;
}
.img p{
  background-color: rgba(0,0,0,.5);
  color:white;
  margin-left:90px;
  padding:10px;
  text-align: right;
}
.img.attach{
  background-attachment: fixed;
  background-position: center;
}
/*
* These styles apply to the css-color.html page
/* ====================================================== */
/* This .box class applies to all divs in this page */
.box{
  display: inline-block;
  height: 250px;
  margin:20px;
  text-align: center;
  width: 250px;
}
.hex-color{
  background:  #34cbd3;
}
.rgb-color{
  background:  rgb( 52, 203, 211 );
}
.hsl-color{
  background: hsl(183, 75%, 51%);
}
.rgba-color{
  background: rgb( 52, 203, 211 );
  background:  rgba( 52, 203, 211,.5 );
}
.hsla-color{
  background: hsl(183, 75%, 51%,.5);
}
.name-color{
  background: DarkTurquoise;
}
.underline{
  text-decoration: none;
}
/*
* These styles apply to the css-hover.html page
*/
/* ====================================================== */
.hover-demo .hex{
  background:  #34cbd3;
  display: inline-block;
  height: 300px;
  margin:0 20px;
  padding: 20px;
  text-align: center;
  width:300px;
}
.hex.color:hover{
  background:#ffd606 ;
}
.hex.opacity:hover{
  background: rgba(52,203,211,.4);
}
.hex.dark:hover{
  background: hsl(183, 75%, 31%);
}
.hex.img:hover{
  background-image: url("../images/pizza.png")
}
/* You can use single numbers or percentages to scale */
.hex.size:hover{
  scale:110%;
}
.hex.rotate:hover{
  transform: rotate(10deg);
}
.hex.image{
  background-image: url("../images/pizza.png");
  color:white;
}
.hex.image:hover{
  background-image: url("../images/pizza-plate.jpg");
  background-size: contain;
}
/* Flost Demo */
/* ====================================================== */
.clearfix{
  clear:both;
}
.intro-float, .content-float{
  /* float: left;
  width: 45%; */
  /* vertical-align: top; */
}
.intro-float{
  text-align: center;
}
.intro-float p{
  text-align: left;
}
.intro-float img, .content-float img{
  width:300px;
  margin:0 15px 15px;
  text-align: center;
}
.intro-float img {
  /* float:left; */
}
.content-float img{
  /* float:right; */
}
.content-float p img{
  /* clear:right; */
}
