body{
  background-image: url("../images/landscape-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding:0;
  margin:0;
}
*{
  box-sizing: border-box;
}
.main-wrapper{
  width:80%;
  color:white;
  max-width:1280px;
  margin: 0 auto;
  padding:0;
}
main, nav, footer{
  width:100%;
  max-width:1280px;
  margin: 0 auto;
  padding:1rem;
}
nav, footer{
  color:white;
  height: 60px;
  text-align: center;
  font-size:1.5rem;
  background: rgba(0,0,0,.7);
}
main{
  margin-top:4rem;
  height: 1200px;
  background: rgba(255,255,255,.7);
  color:black;
  text-align: center;
  position: relative;
}
footer{
  margin-top:4rem;
}
@media (max-width:300px){
  .body{
    color:blue;
  }
}
