body{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
h1, h2, h3{
  font-family: 'Sriracha', cursive;
  text-transform:uppercase;
}
/* p{
  font-family: 'Sriracha', cursive;
}
.one{
 font-family: "Bitter";
}
.two{
  font-family: "Classiq";
}
.three{
font-family: "Espresso Beans Pro";
}
.four{
font-family: "GothamUltra";
}
.five{
font-family: "Lobster Two";
font-weight: bold;
}
.six{
font-family: "Plane Crash";
} */
